@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #fff;
  --light-blue: #f2feff;
  --blue: #92e1f1;
  --grey-blue: #306f8a;
  --grey: #767f8d;
  --light-grey: #a3b9d0;
  --standard-width: 800px;
  --spacing-xs: 2px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;
  --shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
}

/* BODY */
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* APP */
.app {
  min-height: 100vh;
  padding: var(--spacing-md);
  box-sizing: border-box;
  background-image: linear-gradient(var(--light-blue), var(--blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  color: var(--grey-blue);
  padding: 0 var(--spacing-md);
  box-sizing: border-box;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
}

.header .github {
  font-size: 2.3rem;
  height: fit-content;
  display: inline-block;
}

/* SEARCH BAR */
.searchbar {
  display: flex;
  width: 100%;
  max-width: var(--standard-width);
  position: relative;
  box-sizing: border-box;
}

.searchbar .search-input-form {
  width: 100%;
}

.searchbar input[name='search'] {
  height: 40px;
  width: 100%;
  border-radius: 30px;
  border: none;
  padding: 0 calc(var(--spacing-xl) * 1.5);
  box-sizing: border-box;
  box-shadow: var(--shadow);
  font-size: 1.3rem;
  color: var(--grey-blue);
}

.searchbar input[name='search']:focus {
  outline: none;
}

.searchbar button {
  background-color: transparent;
  border: none;
  color: var(--grey-blue);
  cursor: pointer;
}

.searchbar .search,
.searchbar .geolocation {
  position: absolute;
  font-size: 1.4rem;
  top: 7px;
}

.searchbar .search {
  right: calc(var(--spacing-lg) * 0.6);
}

.searchbar .geolocation {
  left: calc(var(--spacing-lg) * 0.6);
}

/* CURRENT WEATHER */
.current-weather {
  width: 100%;
  max-width: var(--standard-width);
  background-color: var(--white);
  border-radius: 20px;
  margin: var(--spacing-lg) 0;
  padding: var(--spacing-lg);
  box-sizing: border-box;
  box-shadow: var(--shadow);
  animation-name: opacity;
  animation-duration: 1.5s;
  display: flex;
  flex-direction: column;
}

.current-weather-header {
  padding: var(--spacing-sm);
  font-size: 1.5rem;
  margin: var(--spacing-sm);
  color: var(--grey);
}

.current-weather-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.current-weather-info .info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-left .city-name {
  font-size: 1.4rem;
  color: var(--grey-blue);
}

.info-left .city-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.city-temp .city-temp-value {
  margin: 0;
  color: var(--grey-blue);
}

.info-left .city-temp img {
  width: 90px;
  height: 90px;
}

.info-left .description {
  text-transform: capitalize;
  font-size: 1.35rem;
  color: var(--grey-blue);
}

.current-weather-info .info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--grey-blue);
}

.info-right .feel {
  color: var(--grey-blue);
  font-size: 1.2rem;
}

.info-right i {
  color: var(--light-grey);
  align-self: center;
}

.info-right .value {
  font-weight: bold;
}

.info-right .hwp {
  width: 220px;
  display: grid;
  grid-template-columns: 35px 1fr 1fr;
  margin: var(--spacing-sm) 0;
}

.info-right .temps {
  display: flex;
  margin-bottom: var(--spacing-lg);
}

.info-right .temp {
  display: grid;
  width: 60px;
  grid-template-columns: 20px 1fr;
}

/* FORECAST */
.forecast {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: var(--standard-width);
  padding: var(--spacing-lg);
  box-sizing: border-box;
  animation-name: opacity;
  animation-duration: 1.5s;
  color: var(--grey-blue);
}

.forecast-header {
  padding: var(--spacing-sm);
  font-size: 1.5rem;
  margin: var(--spacing-sm);
  color: var(--grey);
}

.forecast-days {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.forecast-days .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--light-grey);
  padding: var(--spacing-sm);
}

.forecast-days .day:nth-child(5) {
  border-right: none;
}

.day img {
  height: 90px;
  width: 90px;
}

.day .desc {
  text-transform: capitalize;
}

.day span {
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
}

/* ANIMATIONS */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA */
@media only screen and (max-width: 710px) {
  .forecast-days {
    grid-template-columns: repeat(3, 1fr);
  }

  .forecast-days .day:nth-child(3) {
    border-right: none;
  }
  .forecast-days .day:nth-child(5) {
    border-right: 1px solid var(--light-grey);
  }
}

@media only screen and (max-width: 570px) {
  .info-left .city-temp {
    font-size: 2rem;
  }
  .info-left .city-temp img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  .current-weather-info {
    grid-template-columns: 1fr;
  }

  .current-weather-info .info-right {
    align-items: center;
  }

  .info-right .temps {
    width: 150px;
    justify-content: space-between;
  }

  .info-right .hwp {
    width: 200px;
  }

  .forecast-days {
    grid-template-columns: repeat(2, 1fr);
  }
  .forecast-days .day:nth-child(3) {
    border-right: 1px solid var(--light-grey);
  }
  .forecast-days .day:nth-child(5) {
    border-right: 1px solid var(--light-grey);
  }

  .forecast-days .day:nth-child(even) {
    border: none;
  }
}

@media only screen and (max-width: 370px) {
  .forecast-days {
    grid-template-columns: 1fr;
  }

  .forecast-days .day {
    border-right: none !important;
    border-bottom: 1px solid var(--light-grey) !important;
  }

  .forecast-days .day:nth-child(5) {
    border: none !important;
  }
}
